<!DOCTYPE html>
<html>
  <head>
    <title>Sound recognition</title>   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
     
    <div class="container center-align" id="app">
       <h3>POC - Sound recognition</h3>
       <div class="row">
        <div class="col s6 offset-s3">
          <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#mic">Mic</a></li>
            <li class="tab col s6"><a href="#dataset">Add to dataset</a></li>
          </ul>
        </div>
        <div id="mic" class="col s12">
          <h5>Recognize sound from mic</h5>
            <button class="btn"><i class="material-icons">mic</i></button>
          <p class="mic_status hide">status: </p>
        </div>

        <div id="dataset" class="col s12">
          <h5>Record sound from mic for dataset</h5>
          <div class="row">
            <label for="soundname">Give your sound or voice a name</label> <br>
            <input type="text" id="soundname" />
          </div>
          <button class="btn"><i class="material-icons">mic</i></button>
          <p class="dataset_status hide">status: </p>
        </div>
    </div>
  
  <script scr="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  </body>
</html>