
div { padding: 40px 0 !important;}
form { padding: 50px 0; }
.btn { margin: 50px 0; }
#soundname { max-width: 200px; }
#dataset input { text-align: center; }

.tabs .tab a, .tabs .tab a.active,  .tabs .tab a:hover { color: #26a69a;}
.tabs .indicator { background-color: #26a69a}